#header {
    padding: 40px 0;
    background-color: #ff6500;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-left {
            h1 {
                color: #000;
                font-size: 24px;
            }
        }
    }
}